{% extends 'base.html.twig' %}

{% block title %} HIGH NOON!{% endblock %}

{% block body %}
<h1>O Nas</h1>
            <p>
                Jesteśmy firmą specjalizującą się w dostarczaniu wysokiej jakości usług internetowych.
                Nasza misja to sprostać oczekiwaniom naszych klientów i dostarczyć rozwiązania, które
                pomogą w osiągnięciu ich celów biznesowych.
            </p>
{% endblock %}
