{% extends 'base.html.twig' %}


{% block title %} Hello {{firstName|capitalize}}{% endblock %}

{% block body %}
<h1> Hello {{firstName|capitalize}} </h1>

<h2>GAMES</h2>
    <ul>
        {% for game in favouriteGames %}
        <li>{{game}}</li>
        
            
        {% endfor %}
    </ul>

{% endblock %}