{% extends 'base.html.twig' %}

{% block title %} HIGH NOON!{% endblock %}

{% block body %}

<h1>Witaj na Naszej Stronie Głównej!</h1>

<p>
                Jesteśmy dynamiczną firmą, która powstała z pasji do tworzenia nowoczesnych rozwiązań internetowych.
                Nasza historia sięga 2005 roku, kiedy to rozpoczęliśmy naszą działalność jako małe studio projektowe.
                Od tamtej pory urosliśmy i staliśmy się uznawaną firmą specjalizującą się w dostarczaniu wysokiej jakości
                usług internetowych.
            </p>
            <p>
                Nasza misja to sprostać oczekiwaniom naszych klientów i dostarczyć rozwiązania, które pomogą w
                osiągnięciu ich celów biznesowych. Jesteśmy przekonani, że w dobie internetu efektywna obecność online
                jest kluczowym elementem sukcesu. Dlatego oferujemy kompleksowe usługi, które obejmują projektowanie stron
                internetowych, optymalizację SEO, hosting, e-commerce i wiele innych.
            </p>
{% endblock %}
